body {
    margin-bottom: 300px;
}

.flavor-list {
    list-style: none;
}

.flavor-list > li {
    display: inline-block;
    margin: 5px;
}

.add-img-icon {
    display: block;
    font-size: 48px;
    padding-top: 60px;
    text-align: center;
    height: 200px;
    width: 200px;
    color: #17a2b8;
    border-color: #17a2b8;
    border-style: dashed;
    border-radius: 10px;
}

.add-img-icon:hover{
    background-color: #a4e9f4;
}

.img-thumb-container {
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
}

.delete-img {
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border-width: 0px;
}

.delete-img:hover {
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.btn {
    margin: 3px;
}
